!!! 5
html
  head
    title node-zeromq
    link(rel='stylesheet', href='style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js')
    script(src='highlight.js')
    script(src='menu.js')
  body
    h1 node-zeromq
    p
      a(href='http://www.zeromq.org/') ZeroMQ 
      | bindings for Node.js

    for comment, i in comments
      ctx = comment.ctx
      if comment.ignore || !i || !ctx || comment.isPrivate || ~ctx.string.indexOf('__proto__')
        - continue

      .comment
        h2= comment.ctx.string
        .description!= comment.description.full
        a.view-source(href='#') View source
        pre
          code!= comment.code
